<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
     <%= render 'user', user: @user %>

     <h2>New book</h2>
     <%= render 'new', book: @newbook %>


     <div class="col-md-8 offset-md-1">
       <h2>Book detail</h2>
       <table class="table">
         <tbody>
           <tr>
             <td>
               <%= link_to user_path(@book.user) do %>
               <%= image_tag current_user.get_profile_image(100,100) %><br>
               <span><%= link_to @book.user.name %></span>
               <% end %>
             </td>
             <td>
               <%= link_to @book.title %>
             </td>
             <td>
               <%= @book.body %>
             </td>
             <% if @book.user_id==current_user.id %>
             <td><%= link_to "Edit", edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
             <td><%= link_to "Destroy", @book, method: :delete, "data-confirm"=>"本当に削除しますか？", class: "btn btn-sm btn-danger" %></td>
             <% end %>
           </tr>
         </tbody>
        </table>
     </div>
  </div>
</div>